.container {
  height: 100vh;
}

.title {
  height: 15%;

  background-image: url(https://images.unsplash.com/photo-1568145675395-66a2eda0c6d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: multiply;

  color: white;
  font-weight: 700;
  font-size: xx-large;
  padding: 15px;
  font-family: monospace;
}
