@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.footer_container {
  background-color: #011422;

  padding: 2vh 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 5vw;
  width: 100%;
  justify-content: center;
}

.link {
  color: #f7f9fc;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media (max-width: 1024px) {
  .footer_container {
    flex-direction: column-reverse;
    margin: auto;
  }
}
